<!DOCTYPE html>

<html>

<style>
  #smallButton.btn-smaller {
  font-size: 0.75rem; /* Adjust the font size as needed */
  padding: 0.2rem 0.5rem; /* Adjust padding as needed */
  line-height: 1; /* Adjust line-height as needed */
  }

</style>


<head>
  
  <link rel="stylesheet" href="styles/styles.css">

  <title>Login</title>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">FinApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="text-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- User Settings -->
  <div class="row" style="padding: 25px;">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Configured Instituations</h5>
          {% for i in data.institutionName %}
          <p class="card-text">{{i}}</p>
          {% endfor %}
          <a  id="link-button" class="btn btn-primary">Link Account</a>
        </div>
      </div>
    </div>
  </div>
  

      
  
  
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
    function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
    }
    (async function($) {
      var tokenResponse =await fetch('/api/send-link-request/')
      var TokenJson = await tokenResponse.json()
      var handler = Plaid.create({
        token: TokenJson.link_token,
        onSuccess: function(public_token, metadata) {
          $.ajaxSetup({
              headers: {
              'X-CSRFToken': getCookie('csrftoken')
              }
          });
          $.post('/api/setup-institution/', {
            public_token: public_token,
          });
        },
        onExit: function(err, metadata) {
          if (err != null) {
            console.error(err);
          }
        },

      });
      $('#link-button').on('click', function(e) {
        handler.open();
      });
    })(jQuery);

    function removeinstitution(parameter) {
            // Your JavaScript logic using the parameter
            console.log(parameter)
        }
  </script>
</html>